<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Song Generator</title>
    {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}

    <!-- Bootstrap -->
    <link href="/css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='css/main.css' rel='stylesheet'>
  </head>
  <body data-spy='scroll' data-target='#navbarTop'>
    <div id="home">
      <nav id="navbarTop" role="navigation" class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button id="navbarToggleBtn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navCollapsed">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
              <img src="" id="brandTop">
            </a>
            <h1 class="navbar-text">Song Generator</h1>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="navCollapsed">
            <ul id="navbarTopPills" class="nav navbar-nav nav-pills">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#aboutUs">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <blockquote>{{{fortune}}}</blockquote>
      <p id="rhymesTestP">{{{rhymes}}}</p>
      <button id="testButton" class="btn btn-default">Submit</button>
    </div>

    <div id="aboutUs" class="mainSection row">
      <div class="container">
        <div class="col-md-12">
        	{{{body}}}
        </div>
      </div>
    </div>
        




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./vendor/bootstrap.js"></script>
    <script src='./js/main.js'></script>
    <script src="./vendor/socket.io.js"></script>

    {{#if showTests}}
      <div id='mocha'></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui('tdd');
        var assert = chai.assert;
      </script>
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
  </body>

</html>